---

---

<div class="contenedor-footer bg-[#114295] py-5">
    <div class="row-footer flex justify-center items-center">
         <h2 class="text-white">Todos los Derechos Reservados - Proseguros.mx</h2>
    </div>

</div>  