---

---

<div class="contenedor-footer bg-[#114295] py-5">
    <div class="row-footer flex justify-center items-center">
         <h2 class="text-white">Todos los Derechos Reservados - Proseguros.mx</h2>
    </div>
    	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCGBZV75"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
</div>  