---
const logo = 'https://www.proseguros.mx/wp-content/uploads/2024/01/logoproseguros-removebg-preview-2.png'
--- 


<header class="header w-full h-[90px] mb-10  py-[40px]">
    <div class="row-header w-[90%] mx-auto h-[80px] flex flex-row justify-between items-center max-w-[1140px]">
        <div class="logo w-[50%] h-[80px] flex justify-start items-center">
            <img src={logo} alt="" class="h-[180px]">
        </div>

        <div class="cta-header w-[50%] h-[80px] flex flex-row justify-end items-center">
           <a href="https://api.whatsapp.com/send?phone=52667840111&text=Hola%20deseo%20cotizar%20un%20seguro" class="bg-[#184c99] text-white text-[12px] md:text-[16px] uppercase py-3 px-5 md:px-10">Solicitar Cotización</a>
        </div>
    </div>

</header>

<style>
    .header{
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>