---
const {listado_ventajas,ventajas_titulo} = Astro.props
--- 

<div class="contenedor-ventajas py-10 w-full">
    <div class="row-ventajas w-[90%] mx-auto max-w-[1140px]">
         <h3 class="text-center text-[#114295] text-4xl">{ventajas_titulo}</h3>
          <ul class="text-center">
            <li class="py-2">Con Valor Convenido garantiza la Suma Asegurada de tu vehículo durante toda la vigencia.</li>
            <li class="py-2">
                Precio personalizado dependiendo tus necesidades y las de tu auto.
            </li>
            <li class="py-2">
                Complementa tu protección con las coberturas adicionales que desees y adapta deducibles y Sumas Aseguradas a tus necesidades.
            </li>
          </ul>
    </div>
</div>  